    body {
      margin: 0;
      padding: 0;
      background: repeating-linear-gradient(90deg in hsl longer hue, red 0 50%) 0/200%;
      animation: r 6s linear infinite;

      color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      font-family: Arial, sans-serif;
    }
    @keyframes r {
  to {background-position: 100%}
    }

    h1 {
      font-size: 24vw;
      text-align: center;
      color: white;
    }

    @media (max-width: 600px) {
      h1 {
        font-size: 250%;
      }
    }
