    body {
      margin: 0;
      padding: 0;
      background-color: red;
      color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      font-family: Arial, sans-serif;
    }

    h1 {
      font-size: 24vw;
      text-align: center;
      color: white;
    }

    @media (max-width: 600px) {
      h1 {
        font-size: 250%;
      }
    }
